@import url("./main.css");
@import url("./hero.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap");

:root {
    --cor-de-fundo: #b4aeae;
    --preto: #000;
    --branco: #e0e1dd;
    --azul-escuro: #0d1b2a;
    --azul-semi-escuro: #1b263b;
    --azul-escuro-claro: #415a77;
    --azul-claro: #778da9;
}

body {
    font-family: 'poppins', sans-serif;
    background-color: var(--branco);
}
/*
    |\__/,|   (`\
  _.|o o  |_   ) )
-(((---(((-------- ğ’ğ‘’ğ“ˆğ’¶ğ“‡ â„ğ‘”ğ“ğ‘’ğ“ˆğ’¾ğ’¶ğ“ˆ  */

/**/