footer{
    background-color:grey;
}

.h1-footer{
    font-size: 30px;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    padding: 2.5em 2em 2em 2em;
}