.background{
    width: 100%;
    height: 30vh;
    background-image: url(../img/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
}


.texto-header{
    display: flex;
    flex-direction: column; /*padrão - rown=linha*/
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 2vmax;
}