.position-img1{ /*imagem + texto*/
    display: table;
   margin-bottom: 30px;
   margin-left: 7%; /*arrumo aqui a posição de td*/
}

.img1{
    display: table-cell;
    float: left;
    margin: 3em;
}

.paragrafo1{
    margin: 12em 0 2em 0;
    text-align:justify;
}

.btn1{
    border: 1px solid;
    text-decoration: none;
    padding: 10px 30px 10px 30px;

}

.position-img2{ /*texto + img*/
    margin-bottom: 30px; /*espaçamento em baixo*/
    /*tanto faz a posição da imagem - direita ou esquerda - separar a imagem e o texto por divs juntas - img dentro da section*/
    display: grid;
    grid-template-columns: 40% 55%;
    margin-left: 10%;
}

.paragrafo2{
    margin: 12em 30px 30px 30px;
    text-align: justify;
}


.btn2{
    border: 1px solid;
    text-decoration: none;
    padding: 10px 30px 10px 30px;
    margin-left: 30px;
}

.quatro-itens{
    display: flex;
    justify-content: center;
    margin: 30px;
    margin-top: 50px
    
}

.img-main{
    width: 10%;
    margin: 40px;
}
