@import url("./header.css");
@import url("./main.css");
@import url("./footer.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap");

:root {
    --cor-de-fundo: #FFFFFF;
    --preto: #000;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
/*
    |\__/,|   (`\
  _.|o o  |_   ) )
-(((---(((-------- ğ’ğ‘’ğ“ˆğ’¶ğ“‡ â„ğ‘”ğ“ğ‘’ğ“ˆğ’¾ğ’¶ğ“ˆ  */

/**/